<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Videos: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'design' %>
  <%= javascript_include_tag :defaults %>
  <%= GMap.header %>  
</head>
<body>

  <div id="container">
    
    <div id="header">
      <h1><a href="#" title="Página principal"><span>MiDenuncia</span></a></h1>
      <div id="menubar">
        <p>Identificado como <strong><%= current_user ? current_user.phone : 'anónimo'%></strong>
        <% if !current_user %><%= link_to 'Identificarse', login_path %><% end %>  
        </p>
      </div><!--menubar-->
    </div><!--header-->
    
    <div id="main">
      <% if flash[:notice] %><p class="flash-notice"><%= flash[:notice] %></p><% end %>
      <% if flash[:error] %><p class="flash-error"><%= flash[:error] %></p><% end %>

      <%= yield  %>  
    </div><!--main-->

    <div id="footer">
      <p>Aplicación desarrollada por Ernesto Jiménez, Belén Albeza y [Nombre de Dave] para el 3r concurso de mash-up's de Open Movilforum.</p>  
    </div><!--footer-->

    
  </div><!--container-->
  

</body>
</html>
