<% if current_user and current_user.pending_video %>

<h2>Videodenuncia pendiente</h2>

<p>Recientemente has añadido una <strong>videodenuncia</strong>. Puedes darle el visto bueno final y cambiar algunos datos antes de que se publique definitivamente en el sistema y se suba a <strong>YouTube</strong>. <%= link_to 'Confirmar y publicar videodenuncia', video_path(current_user.pending_video) %>.</p>

<% end %>

<h2>Últimas videodenuncias</h2>
<p>Estas son las últimas videodenuncias publicadas. ¡Tú también puedes <a href="#denuncia" title="Envía una videodenuncia">enviar la tuya</a>!</p>

<ul class="listing">

<% for video in @videos[0..9] %>
  <li>
  <div class="denuncia">
    <p><%= video.embed_html(180, 120) %></p>
    <p><%= video.description %></p>
  </div>
  </li>
<% end %>
</ul>

<%= @map.to_html %>  
<%= @map.div(:width => 600, :height => 400) %>

<h2 id="denuncia">¡Denuncia!</h2>

<p>Publica tus vídeos en <strong>MiDenuncia</strong> y da difusión a situaciones injustas. Puedes publicar tus vídeos ya existentes desde aquí o grabar uno <em>in situ</em> mediante una <strong>videollamada al <%= TELEFONO_RECEPCION %></strong>.
</p>

<% if current_user %>
<%= render :partial => "new_form" %>
<% else %>
<p><strong>IMPORTANTE:</strong> Para poder publicar una videodenuncia <%= link_to 'debes identificarte', login_path %>.
<% end %>

